<li class="rating-list__item item rating-list__item--1024 rating-list__item--768">
  <div class="item__wrap-img">
    <img class="item__img" src="../img/rating-sofa-7.webp" alt="Диван шиниловый “V-43”">
  </div>
  <div class="item__wrap-descr">
    <h3 class="item__subtitle subtitle"><no-typography>Диван шиниловый “V-43”</no-typography></h3>
    <span class="item__price">19 990 руб</span>
    <a class="item__btn btn-transparent btn-reset" href="detail.html">Купить</a>
  </div>
  <span class="item__grade grade">4,8</span>
</li>
