<li class="rating-list__item item">
  <div class="item__wrap-img">
    <picture>
      <source srcset="../img/rating-sofa-5_320.webp" media="(max-width: 675px)">
      <img class="item__img" src="../img/rating-sofa-5.webp" alt="Диван из шинила “W-95”">
    </picture>
  </div>
  <div class="item__wrap-descr">
    <h3 class="item__subtitle subtitle"><no-typography>Диван из шинила “W-95”</no-typography></h3>
    <span class="item__price">22 990 руб</span>
    <a class="item__btn btn-transparent btn-reset" href="detail.html">Купить</a>
  </div>
  <span class="item__grade grade">4,8</span>
</li>
