<li class="rating-list__item item">
  <div class="item__wrap-img">
    <picture>
      <source srcset="../img/rating-sofa-10_320.webp" media="(max-width:675px)">
      <img class="item__img" src="../img/rating-sofa-10.webp" alt="Диван велюровый “R-85”">
    </picture>
  </div>
  <div class="item__wrap-descr">
    <h3 class="item__subtitle subtitle"><no-typography>Диван велюровый “R-85”</no-typography></h3>
    <span class="item__price">34 990 руб</span>
    <a class="item__btn btn-transparent btn-reset" href="detail.html">Купить</a>
  </div>
  <span class="item__grade grade">4,5</span>
</li>
