<li class="rating-list__item item rating-list__item--768">
  <div class="item__wrap-img">
    <img class="item__img" src="../img/rating-sofa-12.webp" alt="Диван велюровый “S-44”">
  </div>
  <div class="item__wrap-descr">
    <h3 class="item__subtitle subtitle"><no-typography>Диван велюровый “S-44”</no-typography></h3>
    <span class="item__price">19 990 руб</span>
    <a class="item__btn btn-transparent btn-reset" href="detail.html">Купить</a>
  </div>
  <span class="item__grade grade">4,5</span>
</li>
