<li class="offer-list__item offer-item offer-list__item--768">
  <div class="offer-item__img-wrap">
    <img class="offer-item__img" src="../img/offer-alarm.webp" alt="Будильник Quartz-23">
  </div>
  <h3 class="offer-item__title subtitle"><no-typography>Будильник “Quartz-23”</no-typography></h3>
  <div class="offer-item__price-wrap">
    <span class="offer-item__price">1&nbsp;290 руб</span>
    <span class="offer-item__old-price">1&nbsp;890 руб</span>
  </div>
  <div class="offer-item__difference-wrap">
    <span class="offer-item__difference offer-item__difference--alarm"><no-typography>- 600</no-typography></span>
  </div>
  <button class="offer-item__btn btn-transparent btn-reset">Купить</button>
</li>
