<li class="offer-list__item offer-item offer-item--sofa offer-list__item--big">
  <div class="offer-item__img-wrap">
    <img class="offer-item__img" src="../img/offer-sofa.webp" alt="Диван тканевый Z-44">
  </div>
  <h3 class="offer-item__title subtitle"><no-typography>Диван тканевый “Z-44”</no-typography></h3>
  <div class="offer-item__price-wrap">
    <span class="offer-item__price">22&nbsp;990 руб</span>
    <span class="offer-item__old-price">32&nbsp;990 руб</span>
  </div>
  <div class="offer-item__difference-wrap">
    <span class="offer-item__difference offer-item__difference--sofa"><no-typography>- 10 000</no-typography></span>
  </div>
  <button class="offer-item__btn btn-transparent btn-reset">Купить</button>
</li>
