<li class="offer-list__item offer-item offer-item--dear">
  <div class="offer-item__img-wrap">
    <img class="offer-item__img" src="../img/offer-dear_320.webp" alt="Мини-скульптура “Oh my deer”">
  </div>
  <h3 class="offer-item__title subtitle"><no-typography>Мини-скульптура “Oh my deer”</no-typography></h3>
  <div class="offer-item__price-wrap">
    <span class="offer-item__price">690 руб</span>
    <span class="offer-item__old-price">990 руб</span>
  </div>
  <div class="offer-item__difference-wrap">
    <span class="offer-item__difference"><no-typography>- 300</no-typography></span>
  </div>
  <button class="offer-item__btn btn-transparent btn-reset">Купить</button>
</li>
